

.herobanner {
  background-color: #E7F3F7;
}

.herobanner-div {
  display: flex;
  justify-content: center;
  margin: 0px 90px;
}



@media (max-width: 2560px) {
    .anup-soni-hidden-image{
        display: none !important;
    }

    .call-us-button-div2 {
        display: none !important;
    }
}

/* responsive: screen ≤ 1440px */
@media (max-width: 1440px) {
  .herobanner-div {
    margin: 0px 72px;
  }
  
  .anup-soni-hidden-image{
    display: none !important;
  }

  .call-us-button-div2 {
    display: none !important;
}
}

/* responsive: screen ≤ 1024px */
@media (max-width: 1024px) {
  .herobanner-div {
    margin: 0px 51px;
    justify-content: space-between ;
  }

  .doctor-dis-citi-div{
    justify-content:space-around !important
  }
  
  .border-div {
    padding-right: 35px !important;
    
    border-right: 1px solid gray;
  }
  .middle-div-image {
    display: none !important;
  }

  .anup-soni-hidden-image{
    display: none !important;
  }

  .call-us-button-div2 {
    display: none !important;
}
}

/* responsive: screen ≤ 768px */
@media (max-width: 768px) {
  .book-appointment-div,
  .middle-div-image {
    display: flex;
    display: none;
  }

  .book-appointment-div {
    display: none !important;
  }

  .call-us-button-div{
    display: none !important;
  }

  .herobanner-div {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    flex-direction: column;
    align-items: center;
  }

  .form-div {
    width: 100%;
    min-height: 50vh !important;
  }

.call-us-button2{
    background-color: #ff8300 !important;
    border: 0 !important;
    box-shadow: none;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

  .hospital-card{
    padding: 0px !important;
  }

  .form-card {
    width: 100%;
    height: 450px !important;
    padding: 1rem;
    border-radius: 10px !important;
    margin-top: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
  }

  .border-div{
    padding-right: 35px !important;
  }

  .space-div{
    padding-left: 20px;
  }
  
  .left-div{
    flex-direction: column !important;
    text-align: center;
  }
  .left-div h1{
    margin-right: 1rem !important;
    font-size: 2.1rem;
  }

  .anup-soni-hidden-image{
    display: flex !important;
    width: 100px;
    text-align: center;
    margin-top: 20px;
  }

  .call-us-button-div2 {
    display: flex !important;
  }

  .video-iframe{
    width :400px ;
    height :315px;
  }
}

.call-us-button{
    background-color: #ff8300 !important;
    border: 0 !important;
    box-shadow: none;
    font-weight: bold;
    color: white;
}

.book-free-consultation-form-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* middle-div image */
.middle-div-image {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 70vh;
  width: 40%;
}

.anup-soni-image {
  bottom: 0;
  height: auto;
}

/* left side div */
.left-div {
  display: flex;
  flex-direction: column ;
  color: #3D7CC9;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left-div h1 {
  font-weight: bold;
}

.doctor-dis-citi-div {
  justify-content: space-between;
  font-weight: bold;
}

.common-div-doctor-dis-citi-div h2 {
  margin-bottom: 0;
  font-weight: bold;
}

.common-div-doctor-dis-citi-div h7 {
  margin-bottom: 0;
  font-weight: 600;
}

.border-div {
  padding-right: 70px;
  border-right: 1px solid gray;
}

.call-us-button-div {

  margin-top: 30px;
}

.call-us-button {
  padding: 6px 51px;
  border-radius: 10px;
  background-color: #ff8300;
  color: white;
}

.book-appointment-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.consult-inperson-extensive-div {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.parent-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consult-inperson-extensive-images {
  width: 25px;
  height: 23px;
}

/* left side div end */
.book-now-button {
  border-radius: 10px;
  background-color: #3F7DD7;
  border: none;
}

.form-div {
  background-color: #E7F3F7;
  width: 400px;
  min-height: 60vh;
}

.form-card {
  width: 400px;
  height: 403px;
  background-color: #FAFAFA !important;
  border-radius: 30px !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.view-more-button{
  border-color: #ff8300 !important;
  color: #ff8300 !important;
  font-weight: bolder !important;
  padding: 0.5rem 2rem !important;
}

.up-down-arrow{
  justify-content: center;
  align-items: center;
}

.floating-input{
  height: 50px;    
  font-size: 1rem;  
  border-radius: 10px;
}

.section-specialities{
  background-color: #ededed44;
}
.our-specialities-grid {
  display: grid;
  gap: 1.5rem; 
  grid-template-columns: repeat(1, 1fr);
}

.our-specialities-card {
  width: 100%;
}



@media (min-width: 768px) {
  .our-specialities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 992px) {
  .our-specialities-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.our-specialities-image {
  flex-shrink: 0; 
  width: 70px;    
  height: 70px;  
  object-fit: cover; 
}

.watch-our-video{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watch-our-ads-h2{
  color: #505257 !important;
  font-weight:bold;
  margin: 50px 30px;
}

.video-iframe{
  margin: 55px 0px;
}

.our-patient-love-us{
  background-color: #FCFAF7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width-carousel-wrapper {
  width: 100%;
}

/* Style for the Carousel component */
.testimonial-carousel-wrapper {
  width: 100%;
}

.our-patient-love-us {
  width: 100%; 
  padding-left: 0; 
  padding-right: 0; 
  padding-top: 40px;
  padding-bottom: 40px;
}


.our-patient-love-us > div > .container {
  padding-left: 15px;
  padding-right: 15px; 
}

.view-review{
  border-color: #3D7CC9 !important;
  color: #3D7CC9 !important;
  font-weight: bolder  !important;
  padding: 0.5rem 2rem !important;
}

.view-review2{
  background-color: #3D7CC9 !important;
  color: white !important;
  font-weight: bolder !important;
  padding: 0.5rem 2rem !important;
}

.carousel-item{
  min-height: 250px;
}
@media (max-width: 1024px) {
  .carousel-item{
    min-height: 534px;
  }
}


.stats-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .stats-section{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .stats-section{
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section-title {
  font-weight: 700;
  color: #002d3e;
  margin-bottom: 1.5rem;
}

.stats-row {
  row-gap: 1.5rem;
}



.stat-card {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease;
  width: 95%;
  margin: 0 auto;
}

.stat-card:hover {
  transform: translateY(-4px);
}

.stat-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-number {
  margin-bottom: 0px;
  font-weight: 700;
  color: #000;
}

.stat-label {
  color: #1971c2;
  font-weight: 600;
}

@media (max-width: 768px) {
  .stat-label{
    font-size: large;
  }
}

.stat-icon {
  width: 40px;
  height: 40px;
}



.why-section {
  background-color: #f7f7f9;
  /* padding: 3rem 0; */
  display: flex !important;
  flex-direction: row !important;
}

@media (max-width: 768px) {
  .why-section-row{
    display: flex !important;
    flex-direction: column !important;
  }
}

.why-left {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-title {
  font-weight: 700;
  color: #002d3e;
  margin-bottom: 0.5rem;
}

.why-subtitle {
  color: #495057;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.why-btn {
  font-weight: 600;
  padding: 15px 35px !important;
  background-color: #ff8300 !important;
  border: none;
  color: #fff !important;
  font-weight: bold !important;
}

.why-right {
  background-color: #f0f1f5;
  padding: 2rem;
}


/*  */
.reason-box {
  padding-right: 1rem;
  padding-left: 1rem !important;
}

.reason-number {
font-size: 55px !important;
  color: #fc7a1e;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.reason-title {
  font-weight: bold;
  color: #1c1c1c;
}

.reason-desc {
  color: #555;
  font-weight: 600;
  font-size: 0.95rem;
}

.abha-wrapper {
  background-color: #002744;
  color: #fff;
}

.abha-row{
  display: flex !important;
  justify-content: center;
}

.abha-text h1 {
  font-weight: 700;
  font-size: 1.9rem !important;
}

.abha-text .sub-text {
  margin-top: 0.5rem;
}

.abha-text{
  justify-content: center;
}

.approved {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.nha-logo {
  height: 60px;
  margin-top: 0.5rem;
}

.store-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.store-img {
  height: 60px;
  cursor: pointer;
}

.abha-image {
  max-height: 350px;
  object-fit: contain;
  
}

.faq-wrapper {
  background-color: #ffffff;
}

.faq-title {
  font-weight: 700;
  color: #002744;
}

.faq-item {
  border-radius: 8px;
  border: 1px solid #edf1f7;
  margin-bottom: 10px;
  box-shadow: none;
}


/* accordian */
.accordion-button {
  background-color: transparent !important;
  color: #1a1a1a;
  font-weight: 500;
  box-shadow: none !important;
  padding: 1rem 1.5rem;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23FF7A00' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1v14M1 8h14' stroke='%23FF7A00' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 1rem;
  height: 1rem;
  width: 1rem;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(45deg);
}

.accordion-body {
  background-color: #f9f9f9;
  padding: 1rem 1.5rem;
  font-size: 0.95rem;
  color: #555;
}


.testimonial-card{
  border-radius: 2rem !important;

}

.card-body{
padding: 1.25rem
}

.our-patient-love-us-div{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-patient-love-us-div p{
  color: #3D7CC9;
  font-weight: bold;
  font-size: small;
}


.readme-button{
  color: #ff8300 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  padding: 0px !important;
}

.about-div{
  padding-bottom: 10px !important;
  padding-left: 132px !important;
  padding-right: 132px !important;
}


@media (max-width: 768px) {
  .about-div{

    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.logo-appstore-playstore-div{
  background-color: #001B2C;
  color: white;
  padding-left: 132px !important;
  padding-right: 132px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

@media (max-width: 768px) {
  .logo-div-top-footer{
    width: 150px !important;
  }

  .logo-appstore-playstore-div{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: flex;
    flex-direction: column;
    gap:10px
  }

  .playapp-logos{
    display: flex;

  }

  .check-out-h4{
    font-size: 1rem !important;
  }
}
@media (max-width: 1024px) {
  .logo-appstore-playstore-div{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.card-body-div{
  display: flex;
  flex-direction: column;
}

.download-button{
  padding-right: 0px !important;
}