@tailwind base;
@tailwind components;
@tailwind utilities;

/* #nav-dropdown-dark-example{
    display: flex;
    padding: 0;
    align-items: baseline;
}

#navbarScroll{
    flex-grow: 0;
    flex: auto;
    justify-content: center;
    align-items: center;
} */

.offcanvas-custom-width{
    width: 500px;
    max-width: 100%;
}

html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
  }
